$blue:  rgb(32, 135, 204);
$yellow:rgba(252, 248, 26, 0.719);
$semi-white: rgba(229, 208, 253, 0.705);
$black: black;
$white: white; 
$info-text-color: $blue;
$primary-font: 'Mansalva', cursive;

.detail__wrapper{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__group{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.bigImage__wrapper{
  margin: 0 auto; 
}
.basicInfo{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.moreImages__group{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 90%;
}
.moreImages__list{
  display: grid; 
}
.moreImages__item{
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img__pair{
  margin: 0 auto; 
}
.types__group{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 90%;
}
.type__list{
  padding-top: 20px;
}
.type__text{
  margin: 0 auto; 
}
.poke__subtitle{
  font-size: 18px;
}
.link__anchor{
  text-decoration: none; 
  color: $blue; 
  margin: 15px; 
  position: relative;
  width: 35px;
  height: 35px; 
  border-radius: 50%;
  border: 2px solid $blue; 
  background-color: $yellow;
  &:hover{
    color: $yellow;  
    background-color: $blue;
    border: 2px solid $yellow; 
  }
  &::before{
    position: absolute; 
    top: 48%; 
    left: 45%; 
    transform: translate(-50%, -50%);
    content:'\f053';
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 20px;
  }
}
.type__item_detail{
  margin: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}
.icon__type{
 display:none; 
}
.evolution__group{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 90%;
}
.detail__evo__list{
  margin: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
.second__group{
  display:grid;
}
@media (min-width: 768px) {
  .info__group{ 
    flex-direction: row;
  }
  .bigDetail__img{
    height: 250px;
  }
  .basicInfo{
    align-items: flex-start;
  }
  .poke__name{
    font-size: 40px;
  }
  .moreImages__list{
    grid-template-columns: 1fr 1fr;
    margin-top: 20px; 
  }
  .link__anchor{
    margin: 20px; 
    width: 45px;
    height: 45px; 
    &::before{
      top: 48%; 
      left: 45%; 
      transform: translate(-50%, -50%);
      font-size: 30px;
    }
  }
  .icon__type{
    display: block;
    width: 100px;
    height: 100px;
  }
  .detail__evo__list{
    flex-direction: row;
  }
  .second__group{
   grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {

  .moreImages__list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px; 
  }
  .link__anchor{
    margin: 20px;
  }
  .moreImages__group{
    align-items: flex-start;
  }
  .types__group{
    align-items: flex-start;
  }
  .type__item_detail{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon__type{
    width: 100px;
    height: 100px;
  }
  .evolution__group{
    align-items: flex-start;
  }
  .detail__evo__list{
    padding-top:20px;
  }
}

